*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
/server/datasources.local.json
/server/config.json
/nbproject/
/client/src/vendor/
/client/src/less/badges/**/*.*
!/client/src/less/badges/**/*.less
/client/dist/
/client/src/js/services/lb-services.js
/server/datasources.local.json
/resources/schema.mwb.bak
/email/templates/dist/
email/templates/daily/style.css
email/templates/tests/results/daily/*.html
fitbit/config.json
