<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<ul>
					<li><a ui-sref-active="active" ui-sref="howto">So funktioniert's</a></li>
					<li><a ui-sref-active="active" ui-sref="datasecurity">Datenschutz</a></li>
					<li><a ui-sref-active="active" ui-sref="aboutus">Über uns</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
			<ul>
				<li><a ui-sref-active="active" ui-sref="tos">Nutzungsbedingungen</a></li>
				<li><a ui-sref-active="active" ui-sref="impressum">Impressum</a></li>
			</ul>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<address>
						<ul>
							<li><b>Leuphana Universität Lüneburg</b></li>
							<li><b>Zentrum für Angewandte Gesundheitswissenschaften</b></li>
							<li>Wilschenbrucher Weg 84a</li>
							<li>21335 Lüneburg</li>
							<li>E-Mail: <a href="mailto://healingo@healthgameslab.de">healingo@healthgameslab.de</a></li>
						</ul>
				</address>
			</div>
		</div>
	</div>

</footer>
