table.row
	tr
		td.wrapper.last
			include ./profilbox.jade
			include ./dailygoalboxBig.jade
			include ./emptyrow.jade
			include ./dailygoalLittle.jade
			include ./emptyrow.jade
			include ./footer.jade
