table.row.footer
	tr
		td.wrapper.last
			table.twelve.columns
				tr
					td
						table.three.sub-columns(align="left")
							tr
								td &nbsp;
								td
									img(src=host+"/images/mail/logo.jpg", height="32px", style="padding-left: 10px;")
					td
						table.five.sub-columns(align="left")
							tr
								td
									table.fakelist(align="center")
										tr
											td.healingo-footer-text1 Leuphana Universit채t L체neburg
										tr
											td.healingo-footer-text1 Zentrum f체r Angewandte Gesundheitswissenschaften
										tr
											td &nbsp;
										tr
											td Wischenbrucher Weg 84a
										tr
											td 21335 L체neburg
										tr
											td E-Mail:&nbsp;
												a(href="mailto:healthgame@gameslab.com") healthgame@gameslab.com

					td
						table.three.sub-columns(align="center")
							tr
								td
									table.fakelist
										tr
											td.healingo-footer-text1 LINKS
										tr
											td &nbsp;
										tr
											td
												a(href="http://www.healthgameslab.de/") Homepage
										tr
											td
												a(href="http://www.healthgameslab.de/#/datasecurity") Datenschutz
										tr
											td
												a(href="http://www.healthgameslab.de/#/impressum") Impressum

					td.expander
