table.row.header
  tr
    td.center(align="center")
      center
          table.container
            tr
              td.wrapper.last
                table.twelve.columns
                  tr
                    td &nbsp;
                    td.four.sub-columns(align="left")
                      img(src=host+"/images/mail/logo.jpg", height="32px", style="padding-left: 10px;")
                    td.nine.sub-columns(align="left",style="text-align:right; vertical-align:middle;")
                      span.template-label= 'Täglicher Status für ' + dateS
                    td.expander
