table.twelve.columns.bigbox
  tr
    td
      table.four.columns(align="left")
        tr
          td.outCenter &nbsp;
          td.profile
            img.png-img(src="https://www.fitbit.com/images/profile/defaultProfile_100_male.gif")
    td
      table.eight.columns
        tr
          td
            span.healingo-content-text Hallo&nbsp;
            b= user.username
            span.healingo-content-text ,&nbsp;hier ist Dein täglicher Statusbericht
    td.expander
