doctype html
html(lang="de")
	head
		meta(charset="UTF-8")
	body
		table
			tbody.body
				tr
					td.center(align="center",valign="top")
						center
							include ./jade/header.jade
							br
							table.container
								tr
									td
							include ./jade/content.jade

